<div class="row">
    <div class="col-md-4 text-center">
        <img src="assets/profile.jpg" class="rounded img-fluid" alt="Aishwary">
    </div>
    <div class="col-md-8">
        <h2>About Me</h2>
        <p>
            I am a Full Stack Developer with 4 years of experience in **Angular, Node.js, and MySQL**.
            Passionate about building scalable and high-performance applications.
        </p>
        <h4>Skills</h4>
        <ul class="list-group">
            <li class="list-group-item">✔ Angular, Node.js, Express.js</li>
            <li class="list-group-item">✔ MySQL, MongoDB</li>
            <li class="list-group-item">✔ Bootstrap, Tailwind CSS</li>
            <li class="list-group-item">✔ REST APIs, Authentication</li>
        </ul>
    </div>
</div>